.maplibregl-popup-close-button{
    font-size: 3.0vmin;
    position: relative;
    right: unset;
    top: unset;
    color: #A8A8A8;
    padding: 0;
}

.maplibregl-popup-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #F2FBFF;
    padding: 0 1dvw 1dvh 1dvw;
    border-radius: 11px;
}

.maplibregl-popup-tip {
    border-width: 25px;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: #F2FBFF !important;
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
    border-bottom-color: #F2FBFF !important;
}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
    border-left-color: #F2FBFF !important;
}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
    border-right-color: #F2FBFF !important;
}

.maplibregl-popup-content h1{
    font-family: "Lato", sans-serif;
    width: 7dvw;
    font-weight: 700;
    font-size: 2vmin;
    line-height: 1;
    font-style: normal;
    color: #004B70;
}

.pop-up-info{
    display: flex;
    flex-direction: column;
    border-bottom: 0.3dvh solid #e0e0e0;
    padding-bottom: 1dvh;
    width: 100%;
}

.pop-up-info > span{
    font-family: "Lato", sans-serif;
    margin-top:0.5dvh;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vmin;
    display: flex;
    align-items: center;
}

.pop-up-info strong{
    font-family: "Lato", sans-serif;
    margin-right: 0.3dvw;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vmin;
}

.popupInfoIcon{
    width: 0.9dvw;
    height: 0.9dvw;
    padding-left: 0.3dvw
}

.popupInfoWrapper{
    position: relative;
    display: inline-block;
}

.generationInfoTooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Add dots under the hoverable text */
    cursor: pointer;
}

.generationInfoTooltipText{
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
  top: -5px;
  left: 105%;
}

.regional-overview-panel{
    width: 100%;
}

.regional-overview-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regional-overview-header img{
    width: 1.2dvw;
    margin-right: 0.1dvw;
}

.regional-overview-info{
    display: none;
    flex-direction: column;
    padding-bottom: 1dvh;
    width: 100%;
}

.regional-overview-info > span{
    font-family: "Lato", sans-serif;
    margin-top:0.5dvh;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vmin;
    display: flex;
    align-items: center;
}

.regional-overview-info strong{
    font-family: "Lato", sans-serif;
    margin-right: 0.3dvw;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vmin;
}

.regionalInfoIcon{
    width: 0.9dvw;
    height: 0.9dvw;
    padding-left: 0.3dvw
}

.regionalInfoWrapper{
    position: relative;
    display: inline-block;
}

.regionalInfoTooltip{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

.regionalInfoTooltipText{
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
  top: -5px;
  left: 105%;
}

.regional-overview-svg{
    display: flex;
    justify-content: center;   
}