/*CSS for the filter container, background, border styling, and content positioning*/
/*Break points should be added for smaller devices <= 1500px width*/
#fuelFilter{
    background-color: rgba(239, 239, 239, 0.88); /*changed from rgba(184, 214, 229, 0.88) in previous version*/
    border-radius: 0 2.5dvh 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1dvh;
}
.filterLegend{ /*Container for each legend element*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    cursor: pointer;/*Pointer instead of text input cursor*/
    transition-property: opacity;
    transition-duration: 0.15s;

}
.legendColour{ /*The coloured box representing each fuel type*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1dvh;
    height: 2.1dvh;
    margin: 0.16dvh 0 0.16dvh 0;
    border: 0.16dvh solid #DEEAED;
    border-radius: 0.26dvh;
}

.legendName{ /*The name for each fuel type*/
    padding: 0;
    margin: 0;
    font-size: 2vmin;
    margin-left: 0.46dvw;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.legendCheck{
    width: 1.8dvh;
    height: auto;
    margin-left: unset;
}

#controlContainer{ /*Container for the control buttons*/
    width: 100%;
    margin-top: 1dvh;
    display: flex;
    justify-content: space-between;
    margin-top: 0.2dvh;
}
.controlIcon{
    padding: 0.2dvh;
    width: 3.04dvh; /*Have been made 20% smaller, previous 3.8dvh*/
    height: 3.04dvh; /*Have been made 20% smaller, previous 3.8dvh*/
    cursor: pointer; /*Pointer instead of standard cursor*/
}

/*CSS for the side panel container, background and border styling*/
#sidePanel{
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.0) 0%, rgba(239, 239, 239, 0.96) 5%, rgba(222, 234, 237, 1) 100%);
    display: flex;
    justify-content: center;
}

.sidePanelPageContainer{
    width: 100%;
    height: 95%;
    margin-left: 2dvw;
    padding: 0 1dvw 0 1dvw;
    display: flex;
    flex-direction: column;
}

#sidePanelMainTitle{
    display: flex;
    align-self: flex-start;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vmax;
    margin: 2dvh 0 0 0;
    color: #004B70;
}

#sidePanelMainTitleSmall{
    opacity: 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vmax;
    color: #004B70;
}

#sidePanelSubtitle{
    display: flex;
    align-self: flex-start;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vmax;
    margin: -1dvh 0 0 0;
    color: #004B70;
}

#InfoTitle{
    display: none;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vmax;;
    margin: 2dvh 0 0 0;
    align-self:flex-start;
    color: #004B70;
}

#sidePanelFilterAndResetWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1dvh;
}

#filterCounter{
    display: block;
    align-self: center;
    width: 55%;
}

#filterCounter * {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4vmin;
    margin: 0;
}

#filterCounterValue{
    color: #11658C;
}

#filterCounterStatic{
    color: #030303;
}

.sidePanelResetButton{
    background-color: #11658C;
    z-index: 8;
    border-radius: 1dvh;
    filter: drop-shadow(0 0.8dvh 1dvh rgba(0, 0, 0, 0.10));
    padding: 0.75dvh
}

.sidePanelResetButton span{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4vmin;
    margin: 0;
    color: #f7f7f7;
    cursor: pointer;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#sidePanelBarChart{
    width: 100%;
    height: 30dvh;
    background-color: #f7f7f7;
    filter: drop-shadow(0 0.8dvh 1dvh rgba(0, 0, 0, 0.10));
    border-radius: 1dvh;
    margin-top: 1dvh;
}

.instructionTitle{
    display: none;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2vmin;
    margin: 2dvh 0 1dvh 0;
    align-self:flex-start;
    color: #004B70;
}

.sidePanelFilterContainer{
    display: flex;
    background-color: #f7f7f7;
    margin-top: 1dvh;
    width: 100%;
    min-height: 4.5dvh;
    align-self: center;
    border-radius: 1dvh;
    filter: drop-shadow(0 0.8dvh 1dvh rgba(0, 0, 0, 0.10));
}

#firstFilterContainer{
    margin-top: 2dvh;
}

.sidePanelDropDownHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer; /*Added to show that the header is clickable*/
}

.sidePanelFilterDropDown{
    display: flex;
    width: 100%;
}

.sidePanelFilterTitle{
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vmin;
    margin: 0 0 0 1dvw;
    color: #11658C;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sidePanelFilterIcon{
    width: 1dvw;
    height: auto;
    margin: 0 1dvw 0 0;
}

.sidePanelDropDownField{
    position: absolute;
    top: 4.5dvh;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 20dvh;
    width: 100%;
    background-color: #F2FBFF;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.sidePanelFilterColour{
    width: 2.5dvh;
    height: 2.5dvh;
    margin-left: 1dvh;
}

.sidePanelFilterName{
    font-size: 1.8vmin;
    font-weight: 400;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-left: 1dvh;
}

.hide {
  display: none;
}

.sidePanelInstructionsContainer{
    display: none;
}

.instructionsTitle{
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5vmin;
    margin: 1dvh 0 0 0;
    align-self:center;
    color: #004B70;
}

.instructionsIntro{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vmin;
    margin: 1dvh 0 0 0;
}

.instructionStepsTitle{
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vmin;
    margin: 1dvh 0 0 0;
    align-self:center;
    color: #004B70;
}

.instructionStepsList{
    font-size: 1.8vmin;
    margin: 1dvh 0 0 0;
    padding-left: 3ch;
}

.instructionStepsItemTitle{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vmin;
    margin: 0;
}

.instructionStepsItemStandard{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vmin;
    margin: 0;
}

.instructionStepsItemHighlight{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vmin;
    margin: 0;
    color: #004B70;
}

.infoStepsList{
    list-style: none;
    padding-left: 0;
}

.infoStepIconWrapper{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1ch;
    vertical-align: middle;
}

.infoStepIcon{
    height: 2.5dvh;
    width: auto;
}

.infoStepNumber{
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vmin;
    color: #f7f7f7;
    pointer-events: none;
}
.infoStepItem{
    margin: 0px 0px 1dvh;
    display: flex;
    flex-direction: row;
}

.infoStepItem strong{
    margin-right: 0.1dvw;
}

#navigationBarContainer{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 26%;
    position: fixed;
    flex-direction: row;
    bottom: 3dvh;
    align-items: center;
}

.navigationBarIconLarge{
    height: 3dvh;
    width: auto;
    cursor: pointer; /*Pointer instead of standard cursor*/
}

.navigationBarIconSmall{
    height: 2.5dvh;
    width: auto;
    cursor: pointer; /*Pointer instead of standard cursor*/
}

.navigationBarIconWrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationBarIconWrapperLarge{
    margin-right: 2dvh;
}

.navigationBarIconWrapperSmall{
    margin-right: 1dvh;
    display: none;
}

.navigationBarIconNumber{
    transform: translate(-1.7dvh, 0.3dvh);
    opacity: 0;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vmin;
    color: #f7f7f7;
    pointer-events: none;
    margin: 0;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 0.5dvw;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  background: #dae4e8;
  border-radius: 10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #11658C;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004B70; 
}

/*Up and down arrows*/
::-webkit-scrollbar-button{
	display: none;
}

/* Dual range slider */
.sidePanelFilterSliderContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4dvh;
    margin: 0 2dvw 0 2dvw;
}

.sliderTrack{
    position: absolute;
    width: 100%;
    height: 0.5dvh;
    background-color: #f7f7f7;
    border: 2px solid #11658C;
    border-radius: 1dvh;
}

.sliderRange{
    position: absolute;
    height: 1dvh;
    background-color: #11658C;
    border-radius: 1dvh;
}

.sliderThumb{
    position: absolute;
    width: 1.5dvh;
    height: 1.5dvh;
    background-color: #ffffff;
    border: 2px solid #11658C;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
    left: 0%;
    display: flex;
    justify-content: center;
}
.sliderValueText{
    position: relative;
    top: -4dvh;
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vmin;
    color: #11658C;
    white-space: nowrap;
}
.sliderThumb:hover{
    background-color: #e8f4f8;
}

.sliderTextField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5dvh 0 1dvh 0;
}
.sliderEdgeText{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sliderTitleWrapper{
    display: flex;
    align-items: center;
}

.sliderTitle{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sliderIcon{
    height: 1.7vmin;
    width: 1.7vmin;
    margin-left: 0.3dvw;
    cursor: pointer;
}

.sliderTooltipTooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 10; /* Ensure tooltip is displayed above content */
}

.sliderTooltipTooltipText{
    visibility: hidden; /* Hidden by default */
    width: 9dvw;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 1dvh;
    border-radius: 0.5dvh;
    position: absolute;
    right: 105%;
    top: 50%;
    transform: translateX(-10%);;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vmin;
    line-height: 1.9vmin;
}

.selectAllDropdown > p {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.selectAllDropdown > div {
    border: 0.4vmin solid #004B70;
    border-radius: 50%;
}

.selectAllCheck {
    width: 1.2dvh;
    height: auto;
    margin-left: unset;
}

.legendCheckBox{
    border: 0.4vmin solid #004B70;
}

/*Specific styling for tablet-sized devices*/
@media (max-height: 1024px){
    #sidePanel{width: 30dvw !important;}
    .sidePanelPageContainer{margin-left: 2dvw;}
    #sidePanelMainTitle{font-size: 4.5vmax;}
    #sidePanelSubtitle{font-size: 1.9vmax;}
    #InfoTitle{font-size: 4.5vmax;}
    .instructionTitle{font-size: 1.2vmax;}
    .instructionsTitle{font-size: 2vmin;}
    .instructionsIntro{font-size: 1.5vmin; margin: 0.5dvh 0 0 0;}
    .instructionStepsTitle{font-size: 1.5vmin; margin: 0.5dvh 0 0 0;}
    .instructionStepsList{font-size: 1.5vmin; margin: 0.5dvh 0 0 0; padding-left: 2ch;}
    .instructionStepsItemTitle{font-size: 1.5vmin;}
    .instructionStepsItemStandard{font-size: 1.5vmin;}
    .instructionStepsItemHighlight{font-size: 1.5vmin;}
    #navigationBarContainer{width: 25%;}
    #sidePanelResetButton{padding: 0.5dvh}
}