/*CSS for the filter container, background, border styling, and content positioning*/
#fuelFilter{
    background-color: rgba(239, 239, 239, 0.88); /*changed from rgba(184, 214, 229, 0.88) in previous version*/
    border-radius: 0 25px 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.80dvh 0.78dvw 0.75dvh 0.78dvw;
}
.filterLegend{ /*Container for each legend element*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    cursor: pointer;/*Pointer instead of text input cursor*/
}
.legendColour{ /*The coloured box representing each fuel type*/
    width: 2.1dvh;
    height: 2.1dvh;
    margin: 0.16dvh 0 0.16dvh 0;
    border: 0.16dvh solid #DEEAED;
    border-radius: 0.26dvh;
}
.legendName{ /*The name for each fuel type*/
    padding: 0;
    margin: 0;
    font-size: 2vmin;
    margin-left: 0.46dvw;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#controlContainer{ /*Container for the control buttons*/
    width: 100%;
    margin-top: 1dvh;
    display: flex;
    justify-content: space-between;
}
.controlIcon{
    width: 3.04dvh; /*Have been made 20% smaller, previous 3.8dvh*/
    height: 3.04dvh; /*Have been made 20% smaller, previous 3.8dvh*/
    cursor: pointer; /*Pointer instead of standard cursor*/
}

/*CSS for the side panel container, background and border styling*/
#sidePanel{
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.0) 0%, rgba(239, 239, 239, 0.96) 8%, rgba(222, 234, 237, 1) 100%);
    display: flex;
    justify-content: center;
}

.sidePanelPageContainer{
    width: 100%;
    height: 95%;
    margin-left: 3dvw;
    padding: 0 1dvw 0 1dvw;
    display: flex;
    flex-direction: column;
}

#sidePanelMainTitle{
    display: block;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vmin;
    margin: 0;
    align-self:center;
    color: #004B70;
}

#sidePanelSubtitle{
    display: block;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.2vmin;
    margin: 0 0 3dvh 0;
    align-self:center;
    color: #004B70;
}

#InfoTitle{
    display: none;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vmin;
    margin: 0;
    align-self:flex-start;
    color: #004B70;
}

#filterCounter{
    display: block;
    align-self: center;
}

#filterCounter * {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0;
}

#filterCounterValue{
    color: #11658C;
}

#filterCounterStatic{
    color: #030303;
}

.instructionTitle{
    display: none;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2vmin;
    margin: 2dvh 0 1dvh 0;
    align-self:flex-start;
    color: #004B70;
}

.sidePanelFilterContainer{
    display: block;
    background-color: #f7f7f7;
    margin-bottom: 1.5dvh;
    width: 100%;
    min-height: 4.5dvh;
    align-self: center;
    border-radius: 11px;
    filter: drop-shadow(0px 8px 11px rgba(0, 0, 0, 0.22));
}

.sidePanelDropDownHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer; /*Added to show that the header is clickable*/
}

.sidePanelFilterDropDown{
    display: flex;
    width: 100%;
}

.sidePanelFilterTitle{
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vmin;
    margin: 0 0 0 1dvw;
    color: #11658C;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sidePanelFilterIcon{
    width: 1dvw;
    height: auto;
    margin: 0 1dvw 0 0;
}

.sidePanelDropDownField{
    position: absolute;
    top: 4.5dvh;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    height: 20dvh;
    width: 100%;
    background-color: #F2FBFF;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.sidePanelDropDownField *{
    margin-left: 1dvh;
}

.sidePanelFilterColour{
    width: 2.5dvh;
    height: 2.5dvh;
}

.sidePanelFilterName{
    font-size: 1.8vmin;
    font-weight: 400;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.hide {
  display: none;
}

.sidePanelInstructionsContainer{
    display: none;
}

.instructionsTitle{
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vmin;
    margin: 1dvh 0 0.5dvh 0;
    align-self:center;
    color: #004B70;
}

.instructionsIntro{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0 0 0.5dvh 0;
}

.instructionStepsTitle{
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 1dvh 0 0 0;
    align-self:center;
    color: #004B70;
}

.instructionStepsItemTitle{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0;
}

.instructionStepsItemStandard{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0;
}

.instructionStepsItemHighlight{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0;
    color: #004B70;
}

#navigationBarContainer{
    align-self: center;
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 3dvh;
    width: 20dvw;
    justify-content: space-around;
    align-items: center;
}

.navigationBarIconLarge{
    height: 3dvh;
    width: auto;
    cursor: pointer; /*Pointer instead of standard cursor*/
}

.navigationBarIconSmall{
    height: 1.7dvh;
    width: auto;
    cursor: pointer; /*Pointer instead of standard cursor*/
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 0.5dvw;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  background: #dae4e8;
  border-radius: 10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #11658C;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004B70; 
}

/*Up and down arrows*/
::-webkit-scrollbar-button{
	display: none;
}

/* Dual range slider */
.sidePanelFilterSliderContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4dvh;
    margin: 0 2dvw 0 2dvw;
}

.sliderTrack{
    position: absolute;
    width: 100%;
    height: 0.5dvh;
    background-color: #f7f7f7;
    border: 2px solid #11658C;
    border-radius: 1dvh;
}

.sliderRange{
    position: absolute;
    height: 1dvh;
    background-color: #11658C;
    border-radius: 3px;
}

.sliderThumb{
    position: absolute;
    width: 1.8dvh;
    height: 1.8dvh;
    background-color: #ffffff;
    border: 2px solid #11658C;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
    left: 0%;
    display: flex;
    justify-content: center;
}
.sliderValueText{
    position: relative;
    top: -4.2dvh;
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vmin;
    color: #11658C;
    white-space: nowrap;
}
.sliderThumb:hover{
    background-color: #e8f4f8;
}

.sliderTextField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 7dvh 0 1dvh 0;
}
.sliderEdgeText{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vmin;
    margin: 0;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sliderTitle{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6vmin;
    margin: 0;
    /*Added to remove selection from drop down texts*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}